body {
    background-color: darkgreen;
}
ul {
    color: gray;
    font-family: Baghdad;
    border: 10px white;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: red;
    font-size: 200%;
}

li a {
    display: inline;
    float: left;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    border: 2px solid forestgreen;
}